<script src="content-loading.js"></script>
<ul class="navbar">
  <li class="left">
    <a onclick="showPortfolio()">TEO WEN KAI</a>
  </li>
  <li>
    <a onclick="showPortfolio()">Home</a>
  </li>
  <li>
    <a onclick="showProjects()">Projects</a>
  </li>
  <li>
    <a onclick="showAbout()">About</a>
  </li>
  <li>
    <a onclick="showPost()">Post</a>
  </li>
  <li class="github right">
    <a href="https://github.com/YouEsBee/" target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
  </li>
  <li class="linkedin right">
    <a href="https://www.linkedin.com/in/teo-wen-kai-3264a91aa/" target="_blank"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
  </li>
  <li class="dribbble right">
    <a href="https://dribbble.com/awesomeeeee" target="_blank"
      ><i class="fa-brands fa-dribbble"></i
    ></a>
  </li>
</ul>
