.learn {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    background-color: #696dd9;
    display: inline-block;
    min-width: 8em;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-right: 1em;
}

.learn:hover {
    color: rgb(226, 226, 226);
    font-family: "Montserrat", sans-serif;
    background-color: #5b5fc1;
}

.navbar {
    position: fixed;
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.navbar li a {
    display: block;
    background-color: transparent;
    border-radius: 0.5em;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.navbar li a:hover {
    color:#0a0e73;
    background-color: #dedfff;
    font-weight: bold;
}

.navbar .left {
    color: #0a0e73;
    font-weight: bold;
    position: absolute;
    left: 10px;
}

.navbar .left a:hover {
    color:#0a0e73;
    background-color: transparent;
    font-weight: bolder;
}

.navbar .github {
    color: #0a0e73;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    right: 100px;
    margin: 5px;
}

.navbar .linkedin {
    color: #0a0e73;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    right: 50px;
    margin: 5px;
}

.navbar .dribbble {
    color: #0a0e73;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    right: 0px;
    margin: 5px;
}

.navbar .right a:hover {
    color:#0a0e73;
    background-color: #dedfff;
    font-weight: bolder;
}

h1, h2 {
    color: #0a0e73;
}

.home {
    font-size: 3.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 7em;
}

.home-highlight {
    color: #0a0e73;
    font-weight: bold;
}

.home-desc {
    color: #666666;
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.home-desc-para {
    color: #666666;
    margin-top: 2em;
    margin-bottom: 0.2em;
}

.btn-my-proj {
    display: block;
    color: #0a0e73;
    text-decoration: none;
    font-weight:500;
    margin-top: 5em;
}

.btn-my-proj:hover {
    color: #0a0e73;
    text-decoration: none;
    font-weight: bolder;
}

.twk-photo {
    border-radius: 50%;
    border-style: solid;
    border-color: #0E14A2;
}

.photo-name {
    align-items: center;
    justify-content: center;
    text-align: left;
    display: flex;
    gap: 30px;
    height: 100vh;
}

#post-list {
    padding: 0;
    margin: 0;
}

.main {
    font-family: "Montserrat", sans-serif;
    padding: 1em;
    margin: 0.5em;
    margin-left: 5em;
    margin-right: 5em;
    transform: translateY(50px);
}

table, th, td {
    font-family: "Montserrat", sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}